.footer{
  
  width: 100%;
  height:100px;;
  background-color: black;
  text-align: center;
  color: white;
  bottom:0;
  position:static;

}
 .btn {
  margin-bottom: 20px;
  width: 150px; 
  height: 45px; 
  font-size: 30px; 
    background-color: #157347;
}
.navbar-brand{
  text-emphasis-style: text-center;
}
 .container{
    min-height: 100vh;        
  display:flex;
  flex-direction: column;
  color:#ca7373;
  border-radius: 100px;
   
    

 }

 .card {

  background-color: #92b4e4;        /* dark slate */
  color: #e95c5c;
  width: 150%;
  max-width: 420px;
  padding: 28px;
  border-radius: 30px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}
.form-control {
  padding: 20px;
  font-size: 15px;
}
.text{
  width: 30px;
}
.card-body {
  padding: 20px;
  background-color: #2b3035;
  color: #c0a2a2;
  border-radius: 30px;
}
.form-label {
  font-size: 20px;
  font-weight: 500;
  color: #495057;
  margin-bottom: 6px;
  display: block;
color: rgb(245, 245, 245);
border-radius: 20px;
}
.text-center{
  color:black;
}


